# This is an implicit value, here for clarity
--index https://pypi.python.org/simple/

# tested version:
# Python: 3.6, 3.7, 3.8
# cloudscraper: 1.1.10
# pandas: 0.23.4
# pyquery: 1.4.0
# XlsxWriter: 1.1.6

cloudscraper
pandas
pyppeteer
pyquery
pytesseract
XlsxWriter
