# This is an implicit value, here for clarity
--index https://pypi.python.org/simple/

# tested version:
# Python: 3.6, 3.7
# pandas: 0.23.4
# pyquery: 1.4.0
# XlsxWriter: 1.1.6

pandas
pyquery
XlsxWriter
